﻿@model CPTS.Models.ApplicationUser

<h3>Are you sure you want to delete this User?</h3>
<div>
    <dt>
        User's Email
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default"/>
        </div>
    }
</div>
