﻿@model IEnumerable<CPTS.Models.ApplicationUser>

<table class="table">
    <tr>
        <th>
            User Email
        </th>
    </tr>

    @foreach (var item in Model)
    {
             <tr>
                 <td>
                     @Html.DisplayFor(modelItem => item.Email)
                 </td>
                 <td>
                     @Html.ActionLink("Remove User", "Delete", "Account", new { id = item.Email.Replace('.', (char)248) }, null)
                 </td>
             </tr>
     }
</table>