﻿@model CPTS.Repository.Models.Partner

@if (ViewBag.Message != null)
{
    <h4 style="color: red">
        @Html.Raw(ViewBag.Message)
    </h4>
}
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Delete Community Partner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Community Partner
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartnerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-warning" />
        </div>
    }
    @Html.ActionLink("Back to Partner", "Details", "Partner", new { id = Model.URLSafeName }, new { @class = "btn btn-default" })
</div>
