﻿@model CPTS.Repository.Models.Partner

<div>
    <h4>Community Partner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PartnerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd>
            <a href="http://@Model.Website">@Model.Website</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            Campus Units
        </dt>
        <dd>
            @Html.DisplayFor(model => model.campusUnitString)
        </dd>

        <dt>
            Tags
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tagString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", @readonly="readonly"})
        </dd>
    </dl>
</div>

<p></p>
<div>
    <p></p>
    @if (User.IsInRole("Privileged User") || User.IsInRole("Admin"))
    {
        @Html.ActionLink("Add Contact", "CreateContact", "Partner", new { id = Model.URLSafeName, search = Model.SearchString }, new { @class = "btn btn-default" })

        @Html.ActionLink("Edit Partner", "Edit", "Partner", new { id = Model.URLSafeName, search = Model.SearchString }, new { @class = "btn btn-default" })
    }

    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Delete Partner", "Delete", "Partner", new { id = Model.URLSafeName }, new { @class = "btn btn-default" })
    }
    @Html.ActionLink("Export to Excel", "Export", "Partner", new { id = Model.URLSafeName }, new { @class = "btn btn-default" })
</div>
<hr />

<h4>Community Partner's Contacts - @Html.Raw(ViewBag.Message)</h4>
<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Email
        </th>
        <th>
            Phone Number
        </th>
        <th>
            Title
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Contacts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>              
            <td>
                @Html.ActionLink("Details", "Details", "Contact", new { id = item.URLSafeEmail, search = Model.SearchString }, null) 
            </td>
        </tr>
    }
</table>
<hr />

<h4>Community Partner's Activities - @Html.Raw(Model.Activities.Count)</h4>
<table class="table">
    <tr>
        <th>
            Activity Subject
        </th>
        <th>
            Activity Date
        </th>
        <th>
            Activity Campus Unit
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.Activities)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampusUnit.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Activity", new { id = item.URLSafeSubject, date = item.Date, partnerName = Model.URLSafeName }, null)
            </td>
        </tr>
    }
</table>
