﻿@model IEnumerable<CPTS.Repository.Models.Contact>
<h4>Contact Search</h4>

<script type="text/javascript">
function exportButtons() {
    document.getElementById("exportOptions").style.display = "block";
}
</script>

<p>
    @using (Html.BeginForm())
    {
    <p>
        Search by Contact Name: @Html.TextBox("searchContactName")
        Contact Email: @Html.TextBox("searchContactEmail")
        Community Partner: @Html.TextBox("searchPartnerName")
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
    }
</p>

<p></p>
<input type="button" class="btn btn-default" value="Excel Export Options" onclick="exportButtons()" />
<div id="exportOptions" style="display: none">
    @Html.ActionLink("Export Contacts", "ExportContacts", "ContactSearch", new { searchString = Model.FirstOrDefault()?.SearchString }, new { @class = "btn btn-default" })
    @Html.ActionLink("Export Contacts and Campus Unit Data", "ExportContactsCampusUnitData", "ContactSearch", new { searchString = Model.FirstOrDefault()?.SearchString }, new { @class = "btn btn-default" })
    <br />
</div>
<p></p>

<div>
    <p>
        @Html.Raw(ViewBag.Message) Results
    </p>
</div>

<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Email Address
        </th>
        <th>
            Phone Number
        </th>
        <th>
            Community Partner
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Partner.PartnerName)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", "Contact", new { id=item.URLSafeEmail, search = Model.FirstOrDefault()?.SearchString }, null)
        </td>
    </tr>
}

</table>
