﻿@model CPTS.Repository.Models.Activity

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Activity Subject
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt>
            Activity Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            Campus Unit
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CampusUnit.Name)
        </dd>
        <dt>
            Community Partner
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Partner.PartnerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", @readonly = "readonly" })
        </dd>
    </dl>
</div>
<p>
</p>
@if (User.IsInRole("Privileged User") || User.IsInRole("Admin"))
{
    @Html.ActionLink("Add Contact", "AddContacts", "Activity", new { id = Model.URLSafeSubject, email = Model.ContactEmail }, new { @class = "btn btn-default" })

    @Html.ActionLink("Edit Activity", "ActivityEdit", "Activity", new { id = Model.URLSafeSubject, email = Model.ContactEmail }, new { @class = "btn btn-default" })
}
@Html.ActionLink("Back to Contact", "Details", "Contact", new { id = Model.ContactEmail }, new { @class = "btn btn-default" })
<hr />

<h4>Activity's Contacts - @Html.Raw(ViewBag.ContactCount)</h4>
<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Email
        </th>
        <th>
            Phone Number
        </th>
        <th>
            Title
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Contacts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>                    
            <td>
                @Html.ActionLink("Details", "Details", "Contact", new { id = item.URLSafeEmail }, null)
            </td>
        </tr>
    }
</table>
