﻿@model IEnumerable<CPTS.Repository.Models.Activity>
<h4>Activity Search</h4>
<p>
    @using (Html.BeginForm())
    {
    <p>
        Search by Activity Subject: @Html.TextBox("searchActivitySubject")
        Activity Date, From: @Html.TextBox("searchDateFrom")
        To: @Html.TextBox("searchDateTo")
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
    }
</p>

@Html.ActionLink("Export to Excel", "ExportActivities", "ActivitySearch", new { searchString = Model.FirstOrDefault()?.SearchString }, new { @class = "btn btn-default" })
<p></p>

<div>
    <p>
        @Html.Raw(ViewBag.Message) Results
    </p>
</div>

    <table class="table">
        <tr>
            <th>
                Activity Subject
            </th>
            <th>
                Activity Date
            </th>
            <th>
                Campus Unit
            </th>
            <th>
                Community Partner
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CampusUnit.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Partner.PartnerName)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Activity", new { id = item.URLSafeSubject, date = item.Date, partnerName = item.Partner.PartnerName }, null)
                </td>
            </tr>
        }

    </table>
