﻿@model CPTS.Models.CreateActivity

@if (ViewBag.Message != null)
{
    <h4 style="color: red">
        @Html.Raw(ViewBag.Message)
    </h4>
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Add Activity</h4>
        <hr />

        @Html.HiddenFor(model => model.Activity.ContactEmail)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Contact Email", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Activity.ContactEmail, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div> 

        <div class="form-group">
            @Html.Label("Activity Subject*", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Activity.Subject, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Activity.Subject, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Activity Date*", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Activity.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Activity.Date, "", new { @class = "date" })
            </div>
        </div>  
        
        <div class="form-group">
            @Html.Label("Campus Unit*", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CampusUnitName, new SelectList(Model.CampusUnitNames), new { @class = "form-control" })
            </div>
        </div>   

        <div class="form-group">
            @Html.LabelFor(model => model.Activity.Notes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Activity.Notes, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Activity.Notes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Contact", "Details", new {id=Model.Activity.Contacts.First().URLSafeEmail}, new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
