﻿@model CPTS.Repository.Models.Contact

<div>
    <h4>Contact</h4>
    <hr/>

    <dl class="dl-horizontal">
        <dt>
            First Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            Last Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Phone Number
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            Community Partner
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Partner.PartnerName)
        </dd>
        <dt>
            Contact Notes
        </dt>
        <dd>
            @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", @readonly = "readonly" })
        </dd>
    </dl>
</div>
<p>
</p>
<div>
    <p></p>
    @if (User.IsInRole("Privileged User") || User.IsInRole("Admin"))
    {
        @Html.ActionLink("Add Activity", "CreateActivity", "Contact", new { id = Model.URLSafeEmail }, new { @class = "btn btn-default" })

        @Html.ActionLink("Add Campus Unit Data", "CreateCampusUnitData", "Contact", new { id = Model.URLSafeEmail }, new { @class = "btn btn-default" })

        @Html.ActionLink("Edit Contact", "Edit", "Contact", new { id = Model.URLSafeEmail }, new { @class = "btn btn-default" })
    }
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Delete Contact", "Delete", "Contact", new { id = Model.URLSafeEmail }, new { @class = "btn btn-default" })
    }
    @Html.ActionLink("Back to Partner", "Details", "Partner", new { id = Model.Partner.URLSafeName, search = Model.Partner.SearchString }, new { @class = "btn btn-default" })
    <p></p>
</div>
<hr />

<h4>Contact's Activities - @Html.Raw(ViewBag.Message)</h4>
<table class="table">
    <tr>
        <th>
            Activity Subject
        </th>
        <th>
            Activity Date
        </th>
        <th>
            Campus Unit
        </th>
        <th>
            Community Partner
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Activities)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampusUnit.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Partner.PartnerName)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Activity", new { id = item.URLSafeSubject, date = item.Date, email = Model.URLSafeEmail }, null)
            </td>
        </tr>
    }
</table>
<hr />

<h4>Contact's Campus Unit Data</h4>
<table class="table">
    <tr>
        <th>
            Campus Unit
        </th>
        <th>
            Department/Event
        </th>
        <th>
            UWS Program/Course
        </th>
        <th>
            Donated Hours
        </th>
        <th>
            Student Count
        </th>
        <th>
            UWS Staff Member 
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.CampusUnitData)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CampusUnit.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentEvent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UWSProgram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonatedHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UWSStaff)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "CampusUnitData", new { uwsProgram = item.UWSProgram, uwsDepartmentEvent = item.DepartmentEvent , uwsStaff = item.UWSStaff ,semester = item.Semester, email = Model.URLSafeEmail }, null)
            </td>
        </tr>
    }
    <tr>
        <td style="font-weight: bold">
            Campus Unit Count
        </td>
        <td style="font-weight: bold">
            Department/Event Count
        </td>
        <td style="font-weight: bold">
            UWS Program Count
        </td>
        <td style="font-weight: bold">
            Donated Hours Total
        </td>
        <td style="font-weight: bold">
            Student Count
        </td>
        <td style="font-weight: bold">
            UWS Staff Count
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            @Html.Raw(Model.CampusUnitData.Select(x => x.CampusUnit).Distinct().Count())
        </td>
        <td>
            @Html.Raw(Model.CampusUnitData.Select(x => x.DepartmentEvent).Distinct().Count())
        </td>
        <td>
            @Html.Raw(Model.CampusUnitData.Select(x => x.UWSProgram).Distinct().Count())
        </td>
        <td>
            @Html.Raw(Model.CampusUnitData.Sum(a => a.DonatedHours.AsInt()))
        </td>
        <td>
            @Html.Raw(Model.CampusUnitData.Sum(a => a.StudentCount.AsInt()))
        </td>
        <td>
            @Html.Raw(Model.CampusUnitData.Select(x => x.UWSStaff).Distinct().Count())
        </td>
        <td></td>
    </tr>
</table>
