﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
@if (User.IsInRole("Admin"))
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register New User", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Manage Users", "RemoveUser", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Add Tag", "CreateTag", "Home", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
    </ul>
}
