﻿<h3>About</h3>
<div>
    <h2>Compass - Community Partner Superior System</h2>
    <p>This system is to help the Campus Units of the University of Wisconsin - Superior maintain better contact with Community Partners in the Duluth and Superior area.</p>
    <p>CSCI 499 Capstone</p>
    <p>Version 1.0.0</p>
</div>
