﻿@model IEnumerable<CPTS.Models.HomeModel>
<h4>Community Partner Search</h4>
<script type="text/javascript">
function do_change(){
    document.getElementById("advancedOptions").style.display = "block";
}
function exportButtons() {
    document.getElementById("exportOptions").style.display = "block";
}
</script>
<p>
    @using (Html.BeginForm())
    {
        List<SelectListItem> campusUnitList = ViewBag.CampusList;

        List<SelectListItem> tagList = ViewBag.TagList;

        <p>             
           Search by Community Partner Name: @Html.TextBox("searchPartner")
           Contact Name: @Html.TextBox("searchContact")           
        </p>
        <div id="advancedOptions" style="display: none">
            Tag: @Html.DropDownList("searchTag", tagList, new { @class = "form-control"})
            Campus Unit: @Html.DropDownList("searchCampusUnit", campusUnitList, new { @class = "form-control"})
            <br/>
        </div>
        <input type="button" class="btn btn-default" value="Advanced Search Options" onclick="do_change()" /> <input type="submit" value="Search" class="btn btn-primary" />

        <p></p>
        <input type="button" class="btn btn-default" value="Excel Export Options" onclick="exportButtons()" />
        <div id="exportOptions" style="display: none">
            @Html.ActionLink("Export Community Partners", "ExportPartners", "Home", new { id = Model.FirstOrDefault()?.SearchString }, new { @class = "btn btn-default" })
            @Html.ActionLink("Export Partners and Conacts", "ExportPartnersContacts", "Home", new { id = Model.FirstOrDefault()?.SearchString }, new { @class = "btn btn-default" })
            @Html.ActionLink("Export Partners, Conacts, and Campus Unit Data", "ExportPartnersContactsCampusUnitData", "Home", new { id = Model.FirstOrDefault()?.SearchString }, new { @class = "btn btn-default" })
            @Html.ActionLink("Export Searched Campus Unit Data Only", "ExportSpecificCampusUnitData", "Home", new { id = Model.FirstOrDefault()?.SearchString }, new { @class = "btn btn-default" })
            <br/>
        </div>       
    } 
      
@if (User.IsInRole("Privileged User") || User.IsInRole("Admin"))
{
    <p></p>
    @Html.ActionLink("Add Community Partner", "Create", "Home", null, new { @class = "btn btn-default" })    
}

<hr /> 
<div>
    <p>
        @Html.Raw(ViewBag.Message) Results
    </p>
</div>

<table class="table">
    <tr>
        <th>
            Community Partner Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Partner.Website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Partner.Address)
        </th>
        <th>
            Campus Units
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Partner.PartnerName)
        </td>
        <td>
            <a href="http://@item.Partner.Website">@item.Partner.Website</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Partner.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Partner.campusUnitString)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", "Partner", new { id = item.Partner.URLSafeName, search = Model.FirstOrDefault()?.SearchString }, null)
        </td>
    </tr>
}
</table>
