﻿@model CPTS.Repository.Models.CampusUnitData

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Campus Unit Data</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Campus Unit
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampusUnit.Name)
        </dd>

        <dt>
            Contact Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedContact.FirstName) @Html.DisplayFor(model => model.AssignedContact.LastName)
        </dd>

        <dt>
            Contact Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedContact.Email)
        </dd>

        <dt>
            UWS Program
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UWSProgram)
        </dd>

        <dt>
            Department/Event
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentEvent)
        </dd>

        <dt>
            Semester
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester)
        </dd>

        <dt>
            Donated Hours
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonatedHours)
        </dd>

        <dt>
            Student Count
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentCount)
        </dd>

        <dt>
            Accomplishments
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.Accomplishment, new {@class = "form-control", @readonly = "readonly"})
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.AssignedContact.Email)
        @Html.HiddenFor(model => model.AssignedContact.URLSafeEmail)
        @Html.HiddenFor(model => model.DepartmentEvent)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
