﻿@model CPTS.Repository.Models.CampusUnitData

<div>
    <h4>Campus Unit Data</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Campus Unit
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampusUnit.Name)
        </dd>
        
        <dt>
            Contact Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedContact.FirstName) @Html.DisplayFor(model => model.AssignedContact.LastName)
        </dd>

        <dt>
            Contact Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedContact.Email)
        </dd>
        
        <dt>
            UWS Program
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UWSProgram)
        </dd>

        <dt>
            UWS Staff
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UWSStaff)
        </dd>
        
        <dt>
            Department/Event
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentEvent)
        </dd>
        
        <dt>
            Semester
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester)
        </dd>

        <dt>
            Donated Hours
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonatedHours)
        </dd>

        <dt>
            Student Count
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentCount)
        </dd>

        <dt>
            Accomplishments
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.Accomplishment, new {@class = "form-control", @readonly = "readonly"})
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditCampusUnitData", new { uwsProgram = Model.UWSProgram, uwsDepartmentEvent = Model.DepartmentEvent, uwsStaff = Model.UWSStaff, semester = Model.Semester, email = Model.AssignedContact.URLSafeEmail }, new { @class = "btn btn-default" })
    @Html.ActionLink("Delete", "Delete", new { uwsProgram = Model.UWSProgram, uwsDepartmentEvent = Model.DepartmentEvent, uwsStaff = Model.UWSStaff, semester = Model.Semester, email = Model.AssignedContact.URLSafeEmail }, new { @class = "btn btn-default" })  
</p>
